@model Promotion.Coupon.Models.ReceiptViewModel
@{
    var promotion = (ConfigPromotion)ViewBag.EndPromotion;
    var codes = (int)ViewBag.NumbersCode;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <title>Promoção Gympass</title>
    <link href="/Content/Styles/Admin/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Content/Styles/Admin/css.css" rel="stylesheet" type="text/css">
    <link href="/Content/Styles/Admin/styles.css" rel="stylesheet" type="text/css">
    <link href="/Content/Styles/Admin/icons.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/charts/sparkline.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/forms/select2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/forms/inputmask.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/forms/autosize.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/forms/inputlimit.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/forms/listbox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/forms/multiselect.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/forms/validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/forms/tags.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/forms/switch.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/interface/daterangepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/interface/fancybox.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/interface/moment.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/interface/jgrowl.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/interface/datatables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/interface/colorpicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/interface/fullcalendar.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/interface/timepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/bootstrap.min.js")"></script>
    <script type="text/javascript" src="~/Scripts/admin/plugins/forms/uniform.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/application.js")"></script>
</head>
<body>
    <div class="panel-body">
        <div class="col-md-2"></div>
        <div class="col-md-8"> 
        <form id="frmUpCp">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <i class="icon-gift"></i>
                        Promoção GymPass
                    </h6>
                </div>
                <div class="panel-body">
                    @if (DateTime.Now >= promotion.dtEnd || codes >= 5000)
                    {
                        <div class="callout callout-danger fade in">
                            @*<button type="button" class="close" data-dismiss="alert">×</button>*@
                            <h5>Promoção encerrada.</h5>
                            <p>Obrigado por participar.</p>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Cpf:</label>
                                    <input type="text" class="form-control" id="cpf" required>
                                </div>

                                <div class="col-md-6">
                                    <label>Email:</label>
                                    <input type="text" class="form-control" id="email" placeholder="seu@email.com" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Cupom:</label>
                                    <input type="file" id="file" name="file" class="styled"  />
                                    <span class="help-block">@*Accepted formats: pdf, doc. Max file size 2Mb*@</span>
                                </div>
                                <div class="col-md-6">
                                    <label>Nome:</label>
                                    <input type="text" class="form-control" id="name" placeholder="Nome" required>
                                </div>
                            </div>
                        </div>


                        <div class="form-actions text-right">
                            <input type="button" id="btnEnviar" value="Enviar" class="btn btn-primary">
                        </div>
                    }
                </div>
            </div>
        </form></div>
        <div class="col-md-2"></div>
       
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cpf').inputmask({
                mask: ['999.999.999-99'],
                keepStatic: true
            });
            $(".styled, .multiselect-container input").uniform({ radioClass: 'choice', selectAutoWidth: false });


            $('#btnEnviar').click(function (e) {
                e.preventDefault();
                if (!$("#frmUpCp").valid())
                    return;

                var fdata = new FormData();
                fdata.append("cpf", $('#cpf')[0].value);
                fdata.append("email", $('#email')[0].value);
                fdata.append("name", $('#name')[0].value);
                if ($("#file")[0].files.length > 0)
                    fdata.append("ReceiptFile", $("#file")[0].files[0]);

                $.ajax({
                    url: '../Promotion/receipt/save',
                    type: 'POST',
                    data: fdata,
                    async: false,
                    beforeSend: function (data) {

                        $('body').append(
                            '<div class="overlay"><div class="opacity"></div><i class="icon-spinner2 spin"></i></div>');
                        $('.overlay').fadeIn(150);
                        window.setTimeout(function () {
                            $('.overlay').fadeOut(150,
                                function () {
                                    $(this).remove();
                                });
                        },
                            5000);
                    },
                    success: function (data) {
                        window.document.write(data);
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
        });
    </script>

</body>

</html>
