@model ShiftInc.Raizen.ShellTanqueCheio.Web.Areas.Admin.Models.PersonDetailsViewModel
@{
    ViewBag.Title = "PersonDetails";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

@helper ReceiptList(List<ShiftInc.Raizen.ShellTanqueCheio.Entity.Receipt> receipts, string title, string icon)
{
    <div class="panel panel-default">
        <div class="panel-heading"><h6 class="panel-title"><i class="@icon"></i> @title</h6></div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Data do cadastro</th>
                        <th>CNPJ do estabelecimento</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var receipt in receipts)
                    {
                        if (Request.QueryString["code"] != null && receipt.Product.type == "lubrificantes")
                        {
                            if (!receipt.LuckyCodes.Select(lc => lc.code).Contains(Convert.ToInt32(Request.QueryString["code"])))
                            {
                                continue; 
                            } 
                        }                        
                       
                        <tr data-idreceipt="@receipt.idReceipt">
                            <td>@receipt.dtCreation.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@receipt.vendorCNPJ</td>
                            <td>
                                <a class="btn-xs btn-default" target="_blank" href="/receipt/file?id=@receipt.idReceipt.ToString().PadLeft(8, '0').Base64Encode()"><i class="icon-file3" style="margin-right: 5px;"></i> Ver cupom</a>
                                @if (receipt.Product.type == "lubrificantes")
                                {
                                    if (Request.QueryString["code"] == null)
                                    {
                                        <a class="btn-xs btn-default btn-numeros" data-toggle="modal" role="button"><i class="icon-tags" style="margin-right: 5px;"></i> Ver números da sorte</a> <!-- falta fazer o modal aqui -->
                                    }
                                    else
                                    {
                                        <span class="label label-default">N° da sorte: @Request.QueryString["code"]</span>
                                    }
                                }
                            </td>
                            <td>
                                @if (receipt.isWinner == true)
                                {
                                    if (receipt.Product.type == "v-power")
                                    {
                                        <span class="label label-success">cupom sorteado</span>
                                    }
                                    else if (receipt.Product.type == "lubrificantes")
                                    {
                                        <span class="label label-success">número sorteado</span>
                                    }
                                }
                                else
                                {
                                    if (receipt.Product.type == "v-power")
                                    {
                                        //jesus
                                    }
                                    else if (receipt.Product.type == "lubrificantes")
                                    {

                                    }
                                }
                            </td>
                            <td>
                                @if (receipt.Product.type == "v-power")
                                {
                                    if (receipt.isValidated == true)
                                    {
                                        <span class="label label-info">aprovado</span>
                                    }
                                    else if (receipt.isValidated == false)
                                    {
                                        <span class="label label-danger tooltipd" data-toggle="tooltip" data-placement="top" title="@receipt.invalidateDescription">reprovado</span>
                                    }
                                    else if (receipt.isValidated == null)
                                    {
                                        <a class="btn-xs btn-success bt-action bt-aprovar"><i class="icon-thumbs-up2" style="margin-right: 5px;"></i> Aprovar</a>
                                        <a class="btn-xs btn-danger bt-action bt-reprovar"><i class="icon-thumbs-down2" style="margin-right: 5px;"></i> Reprovar</a>

                                        <span class="label label-info" style="display:none;">aprovado</span>
                                        <span class="label label-danger" style="display:none;">reprovado</span>
                                    }
                                }
                                else if (receipt.Product.type == "lubrificantes")
                                {
                                    if (Request.QueryString["code"] != null && receipt.isWinner != true)
                                    {
                                        <a class="btn-xs btn-success bt-action bt-aprovar"><i class="icon-thumbs-up2" style="margin-right: 5px;"></i> Aprovar</a>
                                        <a class="btn-xs btn-danger bt-action bt-reprovar"><i class="icon-thumbs-down2" style="margin-right: 5px;"></i> Reprovar</a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<div class="page-header">
    <div class="page-title">
        <h3>Detalhes do participante</h3>
    </div>
</div>

<form class="form-horizontal" role="form" action="#">

    <div class="panel panel-default">
        <div class="panel-heading"><h6 class="panel-title"><i class="icon-bubble4"></i> Dados Pessoais</h6></div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">Nome: </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" value="@Model.Person.name" disabled="disabled">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Email: </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" value="@Model.Person.email" disabled="disabled">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Telefone: </label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="@Model.Person.phone" disabled="disabled">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">CPF: </label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="@Model.Person.cpf.Insert(9, "-").Insert(6, ".").Insert(3, ".")" disabled="disabled">
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h6 class="panel-title"><i class="icon-map"></i> Endereço</h6></div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">CEP: </label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="@Model.Person.Address.CEP" disabled="disabled">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Logradouro: </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" value="@Model.Person.Address.address" disabled="disabled">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Número: </label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="@Model.Person.Address.number" disabled="disabled">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Complement: </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" value="@Model.Person.Address.complement" disabled="disabled">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Bairro: </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" value="@Model.Person.Address.district" disabled="disabled">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Cidade: </label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="@Model.Person.Address.City.name" disabled="disabled">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">UF: </label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="@Model.Person.Address.City.state" disabled="disabled">
                </div>
            </div>
        </div>
    </div>

    @if (Model.Receipts.Where(r => r.Product.type == "v-power").Count() > 0)
    {
        @ReceiptList(Model.Receipts.Where(r => r.Product.type == "v-power").ToList(), "Cupons V-Power", "icon-gas-pump")
    }

    @if (Model.Receipts.Where(r => r.Product.type == "lubrificantes").Count() > 0)
    {
        @ReceiptList(Model.Receipts.Where(r => r.Product.type == "lubrificantes").ToList(), "Lubrificantes", "icon-droplet")
    }
</form>


<div id="form_modal" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #50626D; border-color: #50626D">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"><i class="icon-question3"></i> Confirmação de reprovação</h4>
            </div>

            <!-- Form inside modal -->
            <form action="#" role="form">

                <div class="modal-body with-padding">
                    <div class="form-group">
                        <label>Qual o motivo da reprovação?</label>
                        <select class="form-control" id="invalidateDescription">
                            <option value="Cupom Fiscal Ilegível">Cupom Fiscal Ilegível</option>
                            <option value="Data de participação inválida">Data de participação inválida</option>
                            <option value="Imagem diferente de Cupom Fiscal">Imagem diferente de Cupom Fiscal</option>
                            <option value="Cupom Fiscal incompleto">Cupom Fiscal incompleto</option>
                            <option value="Produto descrito no Cupom Fiscal diferente do produto participante">Produto descrito no Cupom Fiscal diferente do produto participante</option>
                            <option value="Cupom Fiscal já cadastrado">Cupom Fiscal já cadastrado</option>
                            <option value="Cupom Fiscal sem preenchimento (em branco)">Cupom Fiscal sem preenchimento (em branco)</option>
                            <option value="Cupom Fiscal com valor abaixo do estipulado em regulamento">Cupom Fiscal com valor abaixo do estipulado em regulamento</option>
                            <option value="Cupom Fiscal com produto não participante">Cupom Fiscal com produto não participante</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="btn-salvar-reprov">Salvar</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div id="codes_modal" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #50626D; border-color: #50626D">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"><i class="icon-question3"></i> Confirmação de reprovação</h4>
            </div>

            <div id="codes-body" class="modal-body with-padding">
               
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('.bt-aprovar').on('click', function () {
            var el = $(this);
            var parent = $(this).parent().parent();
            $.get('/admin/receipt/' + parent.attr('data-idReceipt') + '/set-validated', {
                isValidated: true,
                luckyNumber: "@Request.QueryString["code"]"
            }, function () {
                var param = $(el);
                $(parent).find(".bt-action").fadeOut('fast', function (param) {
                    $(el).parent().find('.label-info').show();
                });
            });
        });

        $('.bt-reprovar').on('click', function () {
            var parent = $(this).parent().parent();
            $('#btn-salvar-reprov').attr('data-idReceipt', parent.attr('data-idReceipt'));

            $('#form_modal').modal();
        });

        $('#btn-salvar-reprov').on('click', function () {
            $.get('/admin/receipt/' + $(this).attr('data-idReceipt') + '/set-validated', {
                isValidated: false,
                invalidateDescription: $('#invalidateDescription').val()
            }, function () {
                location.reload();
            });
        });

        $('.btn-numeros').on('click', function () {
            var parent = $(this).parent().parent();
            $.get('/admin/receipt/' + parent.attr('data-idReceipt') + '/lucky-codes', function (data) {
                $('#codes-body').html(data);
                $('#codes_modal').modal();
            });
        });

        $('.tooltipd').tooltip();
    </script>
}