
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <title>Promoção Gym Pass</title>
    <link href="/Content/Styles/Admin/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Content/Styles/Admin/css.css" rel="stylesheet" type="text/css">
    <link href="/Content/Styles/Admin/styles.css" rel="stylesheet" type="text/css">
    <link href="/Content/Styles/Admin/icons.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/charts/sparkline.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/forms/select2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/forms/inputmask.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/forms/autosize.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/forms/inputlimit.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/forms/listbox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/forms/multiselect.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/forms/validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/forms/tags.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/forms/switch.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/interface/daterangepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/interface/fancybox.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/interface/moment.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/interface/jgrowl.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/interface/datatables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/interface/colorpicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/interface/fullcalendar.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/plugins/interface/timepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin/application.js")"></script>
</head>
<body>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4"></div>

            <div class="col-md-4">
                <div class="alert alert-block alert-info fade in block-inner">
                    <h6><i class="icon-command"></i> Promoção Gym Pass</h6>
                    <hr>
                    <p>Obrigado por participar, em breve voce receberá mais detalhes em seu email.</p>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        
    </div>
    

</body>
</html>
