@model Promotion.Coupon.Areas.Admin.Models.LubrificantesWinnersViewModel

<h6 class="heading-hr" id="TextNameFila"><i class="icon-grid"></i> Números da sorte mais proximos</h6>
<table id="table-report-order" class="table table-bordered dataTable no-footer" role="grid" aria-describedby="table-report-order_info">
    <thead>
        <tr role="row">
            <th class="task-desc">Nome</th>
            <th class="task-desc">CNPJ do Estabelecimento</th>
            <th class="text-center">Nº sorte</th>
            <th class="text-center">Data do Cadastro</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var receipt in Model.receiptsUP.OrderByDescending(r => r.code))
            {
                <tr role="row" class="odd">
                    <td class="task-desc task-desc sorting_1">
                        <a href="/admin/person/@receipt.Receipt.idPerson" target="_blank">@Html.Raw(receipt.Receipt.Person.name)</a>
                    </td>
                    <td class="task-center">@Html.Raw(receipt.Receipt.vendorCNPJ)</td>
                    <td class="text-center">@Html.Raw(receipt.code)</td>
                    <td class="text-center ">@Html.Raw(receipt.Receipt.dtCreation)</td>
                    <td>
                        <a class="btn-xs btn-success bt-action bt-aprovar" href="/admin/person/@receipt.Receipt.idPerson?code=@receipt.code"><i class="icon-thumbs-up2" style="margin-right: 5px;"></i> Aprovar Cupom</a>
                    </td>
                </tr>
            }

            if (Model.receiptsDown.Select(r => r.code).Contains(Convert.ToInt32(Model.codeSort)))
            {
                <tr role="row" class="odd" bgcolor="#99CCFF">
                    <td class="task-desc task-desc sorting_1">
                        <a href="/admin/person/@Html.Raw(Model.receiptsDown.Where(r => r.code == Convert.ToInt32(Model.codeSort)).FirstOrDefault().Receipt.idPerson)" target="_blank">@Html.Raw(Model.receiptsDown.Where(r => r.code == Convert.ToInt32(Model.codeSort)).FirstOrDefault().Receipt.Person.name)</a>
                    </td>
                    <td class="task-center">@Html.Raw(Model.receiptsDown.Where(r => r.code == Convert.ToInt32(Model.codeSort)).FirstOrDefault().Receipt.vendorCNPJ)</td>
                    <td class="text-center">@Html.Raw(Model.receiptsDown.Where(r => r.code == Convert.ToInt32(Model.codeSort)).FirstOrDefault().code)</td>
                    <td class="text-center ">@Html.Raw(Model.receiptsDown.Where(r => r.code == Convert.ToInt32(Model.codeSort)).FirstOrDefault().Receipt.dtCreation)</td>
                    <td>
                        <a class="btn-xs btn-success bt-action bt-aprovar" href="/admin/person/@Model.receiptsDown.Where(r => r.code == Convert.ToInt32(Model.codeSort)).FirstOrDefault().Receipt.idPerson?code=@Model.receiptsDown.Where(r => r.code == Convert.ToInt32(Model.codeSort)).FirstOrDefault().code"><i class="icon-thumbs-up2" style="margin-right: 5px;"></i> Aprovar Cupom</a>
                    </td>
                </tr>                
            }
            else
            {
                <tr> <th colspan="5" style="background-color:#99CCFF" class="text-center">@Html.Raw(Model.codeSort)</th> </tr>
            }

            foreach (var receipt in Model.receiptsDown.Where(r => r.code != Convert.ToInt32(Model.codeSort)).OrderByDescending(r => r.code))
            {
                <tr role="row" class="odd">
                <td class="task-desc task-desc sorting_1">
                    <a href="/admin/person/@receipt.Receipt.idPerson" target="_blank">@Html.Raw(receipt.Receipt.Person.name)</a>
                </td>
                <td class="task-center">@Html.Raw(receipt.Receipt.vendorCNPJ)</td>
                <td class="text-center">@Html.Raw(receipt.code)</td>
                <td class="text-center ">@Html.Raw(receipt.Receipt.dtCreation)</td>
                    <td>
                        <a class="btn-xs btn-success bt-action bt-aprovar" href="/admin/person/@receipt.Receipt.idPerson?code=@receipt.code"><i class="icon-thumbs-up2" style="margin-right: 5px;"></i> Aprovar Cupom</a>
                    </td>
            </tr>
            }
}
    </tbody>
</table>