@model ShiftInc.Raizen.ShellTanqueCheio.Web.Models.ReceiptViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PersonalDataForm</title>
    <link rel="stylesheet" href="/Content/css/index.css">
	
    <script src="//assets.adobedtm.com/9b74220da1d0b361973dbd26a530b8f49255d00c/satelliteLib-b69ce53ba3fa1db9f06b40a159d15cee47132b4e.js"></script>
</head>
<body>
@if (Request.QueryString["updt"] != "1" &&  Model.productType == "v-power")
{
    <!--
    Start of DoubleClick Floodlight Tag: Please do not remove
    Activity name of this tag: Promoção Tanque Cheio - Tanque Cheio Toda Hora (Visita A) Cadastro CPF
    URL of the webpage where the tag is expected to be placed: http://www.shell.com.br/motoristas/promocoes-e-campanhas/promocao-tanque-cheio/tanque-cheio-toda-hora-vpower.html
    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
    Creation Date: 07/12/2016
    -->
    <script type="text/javascript">
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe src="https://5860106.fls.doubleclick.net/activityi;src=5860106;type=tanqu0;cat=promo000;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
    </script>
    <noscript>
    <iframe src="https://5860106.fls.doubleclick.net/activityi;src=5860106;type=tanqu0;cat=promo000;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>
    <!-- End of DoubleClick Floodlight Tag: Please do not remove -->
    
    <!--
    Start of DoubleClick Floodlight Tag: Please do not remove

    Activity name of this tag: Raizen_Promocao Tanque Cheio_Tanque Cheio Toda Hora (Visita A)_Cadastro CPF_Sem DCM

    URL of the webpage where the tag is expected to be placed: http://www.shell.com.br

    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
    Creation Date: 07/21/2016
    -->

    <script type="text/javascript">

    var axel = Math.random() + "";

    var a = axel * 10000000000000;

    document.write('<iframe src="https://5876400.fls.doubleclick.net/activityi;src=5876400;type=invmedia;cat=ya7n8a5e;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');

    </script>

    <noscript>

    <iframe src="https://5876400.fls.doubleclick.net/activityi;src=5876400;type=invmedia;cat=ya7n8a5e;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>

    </noscript>

    <!-- End of DoubleClick Floodlight Tag: Please do not remove -->
    
} else if (Request.QueryString["updt"] != "1" && Model.productType == "lubrificantes")
{
    <!--
    Start of DoubleClick Floodlight Tag: Please do not remove
    Activity name of this tag: Promoção Tanque Cheio - Tanque Cheio o Ano Todo (Visita B) Cadastro CPF
    URL of the webpage where the tag is expected to be placed: http://www.shell.com.br/motoristas/promocoes-e-campanhas/promocao-tanque-cheio/tanque-cheio-ano-todo-helix.html
    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
    Creation Date: 07/12/2016
    -->
    <script type="text/javascript">
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe src="https://5860106.fls.doubleclick.net/activityi;src=5860106;type=tanqu0;cat=promo003;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
    </script>
    <noscript>
    <iframe src="https://5860106.fls.doubleclick.net/activityi;src=5860106;type=tanqu0;cat=promo003;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>
    <!-- End of DoubleClick Floodlight Tag: Please do not remove -->
    
    <!--    Start of DoubleClick Floodlight Tag: Please do not remove

    Activity name of this tag: Raizen_Promocao Tanque Cheio_Tanque Cheio o Ano Todo (Visita B)_Cadastro CPF_Sem DCM

    URL of the webpage where the tag is expected to be placed: http://www.shell.com.br

    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.

    Creation Date: 07/21/2016

    -->

    <script type="text/javascript">

    var axel = Math.random() + "";

    var a = axel * 10000000000000;

    document.write('<iframe src="https://5876400.fls.doubleclick.net/activityi;src=5876400;type=invmedia;cat=gdgahrai;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');

    </script>

    <noscript>

    <iframe src="https://5876400.fls.doubleclick.net/activityi;src=5876400;type=invmedia;cat=gdgahrai;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>

    </noscript>

    <!-- End of DoubleClick Floodlight Tag: Please do not remove -->
}
    <form action="/promotion/person/save" method="post" name="internal.frm" autocomplete="off">
        @Html.HiddenFor(a => a.person.idPerson)
        @Html.HiddenFor(a => a.person.Address.idPerson)
        @Html.HiddenFor(a => a.productType)
        <div class="dados">
            <header>
                <span>
                    <strong>Dados Pessoais</strong>
                    <small>Os campos marcados com * são de preenchimento obrigatório</small>
                </span>
                <span class="disable">
                    <strong>Cadastro do Cupom</strong>
                    <small>Envie uma foto do cupom fiscal.</small>
                </span>
                <a href="javascript:;">&times;</a>
            </header>
            <div>
                <div class="full">
                    <label>
                        <strong>Nome*</strong>
                        <input name="person.name" type="text" data-required data-maxlength="75">
                        <span><span class="normal">Nome inválido. Digite novamente.</span></span>
                    </label>
                </div>
                <div class="one-third">
                    <label>
                        <strong>CEP*</strong>
                        <input name="person.Address.cep" type="tel" data-pattern="\d{5}(\-)*\d{3}" data-mask data-maxlength="9" data-required>
                        <span><span class="normal">CEP inválido. Digite novamente.</span></span>
                    </label>
                    <a data-size="500x350" href="http://m.correios.com.br/movel/buscaCep.do" target="newwin" title="Não sei o meu CEP">Não sei meu CEP</a>
                </div>
                <div class="full">
                    <label class="endereco">
                        <strong>Endereço*</strong>
                        <input name="person.Address.address" type="text" data-required data-maxlength="100">
                        <span><span class="normal">Endereço inválido. Digite novamente.</span></span>
                    </label>
                    <label class="numero">
                        <strong>Número*</strong>
                        <input name="person.Address.number" type="text" data-pattern="[\sa-zA-Z0-9\-]+" data-required data-maxlength="20">
                        <span><span class="normal">Número inválido. Digite novamente.</span></span>
                    </label>
                    <label class="complemento">
                        <strong>Complemento</strong>
                        <input name="person.Address.complement" type="text" data-maxlength="100">
                        <span><span class="normal">Complemento inválido. Digite novamente.</span></span>
                    </label>
                </div>
                <div class="two-third">
                    <label class="half bairro">
                        <strong>Bairro*</strong>
                        <input name="person.Address.district" type="text" data-required data-maxlength="100">
                        <span><span class="normal">Bairro inválido. Digite novamente.</span></span>
                    </label>
                    <label class="uf">
                        <strong>Estado*</strong>
                        <select name="uf" data-required>
                            <option value="" disabled="" selected=""></option>
                            <option value="AC">
                                AC
                            </option>
                            <option value="AL">
                                AL
                            </option>
                            <option value="AP">
                                AP
                            </option>
                            <option value="AM">
                                AM
                            </option>
                            <option value="BA">
                                BA
                            </option>
                            <option value="CE">
                                CE
                            </option>
                            <option value="DF">
                                DF
                            </option>
                            <option value="ES">
                                ES
                            </option>
                            <option value="GO">
                                GO
                            </option>
                            <option value="MA">
                                MA
                            </option>
                            <option value="MS">
                                MS
                            </option>
                            <option value="MT">
                                MT
                            </option>
                            <option value="MG">
                                MG
                            </option>
                            <option value="PA">
                                PA
                            </option>
                            <option value="PB">
                                PB
                            </option>
                            <option value="PR">
                                PR
                            </option>
                            <option value="PE">
                                PE
                            </option>
                            <option value="PI">
                                PI
                            </option>
                            <option value="RJ">
                                RJ
                            </option>
                            <option value="RN">
                                RN
                            </option>
                            <option value="RS">
                                RS
                            </option>
                            <option value="RO">
                                RO
                            </option>
                            <option value="RR">
                                RR
                            </option>
                            <option value="SC">
                                SC
                            </option>
                            <option value="SE">
                                SE
                            </option>
                            <option value="SP">
                                SP
                            </option>
                            <option value="TO">
                                TO
                            </option>
                        </select><span></span>
                    </label>
                    <label class="cidade">
                        <strong>Cidade*</strong>
                        <select name="person.Address.idCity" data-required>
                            <option value="" disabled="" selected=""></option>
                        </select><span></span>
                    </label>
                </div>
                <div class="two-third">
                    <label class="half">
                        <strong>Data de nascimento* <span style="font-size: .7em">(Ex: 00/00/0000)</span></strong>
                        <input name="person.birth" type="tel" placeholder="00/00/0000" data-pattern="\d{2}(\/)*\d{2}(\/)*\d{4}" data-mask data-maxlength="10" data-required>
                        <span>
                            <span class="normal">Nascimento inválido. Digite novamente.</span>
                            <span class="validate0">Dado inválido</span>
                            <span class="validate1">Dado inválido</span>
                            <span class="validate2">Dado inválido</span>
                        </span>
                    </label>
                    <label class="half">
                        <strong>Telefone* <span style="font-size: .7em">(Ex: (00) 0000-0000)</span></strong>
                        <input name="person.phone" type="tel" placeholder="(00) 0000-0000" data-pattern="(\()*[1-9]{2}(\) )*\d{4,5}(\-)*\d{4}" data-mask data-maxlength="15" data-required>
                        <span><span class="normal">Telefone inválido. Digite novamente.</span></span>
                    </label>
                </div>
                <div class="two-third">
                    <label class="half">
                        <strong>CPF*</strong>
                        <input name="person.cpf" type="tel" placeholder="Preencha aqui seu CPF" data-pattern="\d{3}(\.)*\d{3}(\.)*\d{3}(\-)*\d{2}" data-mask data-maxlength="14" data-required value="@Model.cpf" @Html.Raw(String.IsNullOrEmpty(Model.cpf) ? "" : "readonly")>
                        <span><span class="normal">CPF inválido. Digite novamente.</span></span>
                    </label>
                    <label class="half">
                        <strong>E-mail*</strong>
                        <input name="person.email" type="text" data-pattern="^\w+([-+.']\w+)*@('@')\w+([-.]\w+)*\.\w+([-.]\w+)*" data-maxlength="100" data-required>
                        <span><span class="normal">E-mail inválido. Digite novamente.</span></span>
                    </label>
                </div>
                @{
                    if (Model.person.isLubTerms != 1 || Model.person.isVPowerTerms != 1)
                    {
                         <div class="termos">
                            <input type="checkbox" name="aceitoTermos" data-required>
                            <p>
                                Aceito o
                                @if (Model.productType == "v-power")
                                {
                                    <a href="/Content/regulamento/Regulamento_Tanque_Cheio_Toda_Hora.pdf" target="_blank">regulamento</a>
                                }
                                else
                                {
                                    <a href="/Content/regulamento/Regulamento_Tanque_Cheio_Ano_Todo.pdf" target="_blank">regulamento</a>
                                }
                            </p>
                            <br><br>
                        </div>
                     }
                }
            </div>
            <input type="hidden" name="person.isVPowerTerms" value="@(Model.productType == "v-power" ? "1" : "0")">
            <input type="hidden" name="person.isLubTerms" value="@(Model.productType == "lubrificantes" ? "1" : "0")">            
            <input type="submit" value="Cadastrar">
        </div>
    </form>
    <script src="/Scripts/js.js"></script>
    <script>
    @{
        if (ViewBag.Error != null)
        {
            @Html.Raw("window.errorCode = {\"error\" : \"" + ViewBag.Error + "\"}");
            //  "error_model_not_valid"
        }       
    }
    </script>
</body>
</html>
