@model Promotion.Coupon.Areas.Admin.Models.DashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<input type="hidden" id="lineChartPromotion" value='@Html.Raw(Model.SerializedLineVPowerData)' />
<input type="hidden" id="lineChartTicks" value='@Html.Raw(Model.SerializedLineChartTicks)' />
<input type="hidden" id="pieChartData" value='@Html.Raw(Model.SerializedPieChartData)' />
<input type="hidden" id="pieChartData2" value='@Html.Raw(Model.SerializedPieChartData2)' />

<div class="page-header">
    <div class="page-title">
        <h3>Dashboard - Gerencial</h3>
    </div>
</div>
<!-- /page header -->
<!-- Breadcrumbs line -->
<div class="breadcrumb-line">
    <!-- Busca Avançada -->
    <ul class="breadcrumb-buttons collapse">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-search3"></i> <span>Busca Avançada</span> <b class="caret"></b></a>
            <div class="popup dropdown-menu dropdown-menu-right">
                <div class="popup-header">
                    <span>Busca Avançada</span>
                    <a href="#" class="pull-right"><i class="icon-new-tab"></i></a>
                </div>
                <form action="/admin/search" class="breadcrumb-search">
                    <input type="text" placeholder="digite..." name="search" class="form-control autocomplete">
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="radio">
                                <strong>Busque por:</strong>
                            </label>
                            <label class="radio">                                
                                N° do Voucher 
                            </label>
                            <label class="radio">
                                Nome
                            </label>
                        </div>
                        <div class="col-xs-6">
                            <label class="radio">                                
                            </label>
                            <label class="radio">                                
                                CPF
                            </label>
                            <label class="radio">                                
                                E-mail
                            </label>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-block btn-success" value="Buscar">
                </form>
            </div>
        </li>
    </ul>
</div>
<!-- /breadcrumbs line -->
<!-- MIOLO -->
<div class="block">
    <div class="row">
        <!-- VENCEDORES -->
        <ul class="info-blocks">
            <li class="bg-info">
                <div class="top-info active">
                    <a href="/admin/winners/gympass">Intimus - Gympass</a>
                </div>
                <a href="/admin/winners/gympass"><i class="icon-happy"></i></a>
                <span class="bottom-info bg-primary">Premiados até agora: @Model.VPowerWinners</span>
            </li>            
        </ul>
    </div>
    <!--GRAFICOS-->
    <div class="row">
        <div class="col-md-12">
            <!-- Filled blue -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <i class="icon-calendar2"></i>Evolução de participações nos últimos 10 dias 
                    </h6>
                </div>
                <div class="panel-body">
                    <div class="graph-standard" id="filled_blue"></div>
                </div>
            </div>
            <!-- /filled blue -->
        </div>
    </div>    
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title"><i class="icon-calendar2"></i>Distribuição de Voucher</h6>
                </div>
                <div class="panel-body">
                    <div class="graph-standard" id="pie" style="padding: 0px; position: relative;">
                        <canvas class="flot-base" width="301" height="250" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 301px; height: 250px;"></canvas>
                        <canvas class="flot-overlay" width="301" height="250" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 301px; height: 250px;"></canvas>
                        <span class="pieLabel" id="pieLabel1" style="position: absolute; top: 69px; left: 204.5px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series2<br>15%</div></span><span class="pieLabel" id="pieLabel3" style="position: absolute; top: 164px; left: 192.5px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series4<br>14%</div></span><span class="pieLabel" id="pieLabel4" style="position: absolute; top: 191px; left: 136.5px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series5<br>10%</div></span><span class="pieLabel" id="pieLabel5" style="position: absolute; top: 163px; left: 68.5px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series6<br>19%</div></span><span class="pieLabel" id="pieLabel6" style="position: absolute; top: 93px; left: 48.5px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series7<br>10%</div></span><span class="pieLabel" id="pieLabel7" style="position: absolute; top: 36px; left: 88.5px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series8<br>17%</div></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title"><i class="icon-calendar2"></i>Relação de Curadoria</h6>
                </div>
                <div class="panel-body">
                    <div class="graph-standard" id="pie2" style="padding: 0px; position: relative;">
                        <canvas class="flot-base" width="301" height="250" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 301px; height: 250px;"></canvas>
                        <canvas class="flot-overlay" width="301" height="250" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 301px; height: 250px;"></canvas>
                        <span class="pieLabel" id="pieLabel1" style="position: absolute; top: 69px; left: 204.5px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series2<br>15%</div></span><span class="pieLabel" id="pieLabel3" style="position: absolute; top: 164px; left: 192.5px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series4<br>14%</div></span><span class="pieLabel" id="pieLabel4" style="position: absolute; top: 191px; left: 136.5px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series5<br>10%</div></span><span class="pieLabel" id="pieLabel5" style="position: absolute; top: 163px; left: 68.5px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series6<br>19%</div></span><span class="pieLabel" id="pieLabel6" style="position: absolute; top: 93px; left: 48.5px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series7<br>10%</div></span><span class="pieLabel" id="pieLabel7" style="position: absolute; top: 36px; left: 88.5px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series8<br>17%</div></span>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
